*{
    padding:0;
    margin:0;
  
  }
  
  @keyframes animacion{
    
    0% {
        opacity:1;
        
    }
    20% {
  
        opacity:1;
    }
    30% {
  
        opacity:0;
    }
    90% {
        opacity:0;
    }
     100% {
         opacity:1;
     }  
   }
  
  
  .fondo1{
    position: absolute;
    width: 100%;
    height: 100vh;
    background:url(../Imagenes/health-worker-covid-19-vaccine-in-hand-1500.webp);
    background-repeat: no-repeat;
    animation: animacion   24s linear 18s  infinite;
  }
  .fondo2{
    position: absolute;
    width: 100%;
    height: 100vh;
    background:url(../Imagenes/imagen.PNG);
    background-repeat: no-repeat;
    background-size:cover;
    animation: animacion 24s linear 12s  infinite;
  
  
  }
  .fondo3{
    position: absolute;
    width: 100%;
    height: 100vh;
    background:url(../Imagenes/imagen1.PNG);
    background-repeat: no-repeat;
    background-size:cover;
    animation: animacion 24s linear 6s  infinite;
  }
  
  .fondo4{
    position: absolute;
    width: 100%;
    height: 100vh;
    background:url(../Imagenes/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    animation: animacion 24s linear 0s  infinite;
    
  }
  
  
  /*formulario*/
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family:Arial, Helvetica, sans-serif;
    color:#fff;
  z-index:2;
  }
  
  .form-container{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50% ,-50%);
    background: linear-gradient(rgba(1, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    widows: 380px;
    padding: 50px 30px;
    border: radius 10px;
    box-shadow: 7px 7px 60px #ff7f7f;
  }
  h1{
    text-transform: uppercase;
    font-size:2em;
    text-align: center;
    margin-bottom: 2em;
  }
  .control input{
    width:100%;
    display: block;
    padding:10px ;
    color: #222;
    border: none;
    outline:none;
    margin: 1em 0;
  
  }
  button{
    background:crimson;
    color:#fff;
    text-transform: uppercase;    
    font-size:1.2em;
    opacity: .8;
    transition:opacity .3s ease;
  
  }
  button{
    background:crimson;
    color:#fff;
    text-transform: uppercase;    
    font-size:1.2em;
    opacity: .8;
    transition:opacity .3s ease;
  
  }
  button:hover{
    opacity:1;
  }
  .link{
    text-align: center;
  }
  .link a{
    text-decoration: none;
    color:#fff;
    opacity: .7;
    transition: opacity .3s ease;
  }
  .link a:hover{
    opacity:1;
  }
  a{
    text-decoration: none;
    
  }
  .warning{
    width:100px;
    text-align: center;
    margin: auto;
    padding-top: 20px;
  }
  .salir{
    background:crimson;
    color:#fff;
    text-transform: uppercase;    
    font-size:1.2em;
    opacity: .8;
    transition:opacity .3s ease;
  }
  